<%- include ('partials/header.ejs') %>
<%- include ('partials/nav.ejs') %>

<div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="img/myphoto.JPG" alt="Personal Photo" class="img-fluid">
        <a href="documents/cv.pdf" class="btn btn-primary mt-3" target="_blank" download>Download CV</a>
      </div>
      <div class="col-md-6">
        <h1><%= title %></h1>
        <p>
          With more than 17 years of experience in the financial industry and a software engineering diploma from Centennial College, I am excited to transition my skills and expertise into the fintech industry.
        </p>
        <p>
          I have a strong passion for technology and its potential to drive innovation and transformation. Combining my financial knowledge with my programming skills, I aim to contribute to the development of cutting-edge solutions that revolutionize the way we manage and interact with financial systems.
        </p>
        <p>
          Throughout my career, I have gained valuable insights into various aspects of the financial sector, including risk management, investment strategies, and customer relationship management. My goal is to leverage this experience to create impactful and user-centric fintech solutions that empower individuals and businesses to thrive in the digital age.
        </p>
      </div>
     
    </div>
  </div>



    
<%- include ('partials/footer.ejs') %>