<%- include ('partials/header.ejs') %>
<%- include ('partials/nav.ejs') %>

<div class="homepage" style="background-image: url('img/mission bg.JPG');">
  <div class="container">
    <div class="overlay-text">
      <div class="overlay-text-box">
        <h3>If you focus on results, you will never change.</h3>
        <br>
        <h3>If you focus on change, you will get results.</h3>
      </div>
    </div>
    <div class="overlay-text2">
      <div class="overlay-text-box2">
        <h2>I see every CHANGE as CHANCE</h2>
        <h5>Welcome to this changing World with Internet</h5>
        <h5>Welcome to this World with chance</h5>
        <h5>Welcome to my Page</h5>
      </div>
    </div>
  </div>
</div>

<%- include ('partials/footer.ejs') %>


