<%- include ('partials/header.ejs') %>
<%- include ('partials/nav.ejs') %>

<h1><%= title %></h1>
<div class="row row-cols-2 row-cols-md-2 g-2">
  <div class="col">
    <div class="card h-100">
      <img src="img/general_programming.jpg" class="card-img-top" alt="general_programming">
      <div class="card-body">
        <h5 class="card-title">General Programming</h5>
        <p class="card-text">With expertise in various programming languages such as Java, Python, and C++, I can develop robust and efficient software solutions tailored to your specific needs. Whether it's creating algorithms, implementing data structures, or solving complex problems, I am dedicated to delivering high-quality code.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="img/web_development.jpg" class="card-img-top" alt="web_development">
      <div class="card-body">
        <h5 class="card-title">Web development</h5>
        <p class="card-text">From designing responsive and visually appealing websites to building dynamic web applications, I have the skills to bring your ideas to life on the web. I specialize in front-end technologies like HTML, CSS, and JavaScript, along with frameworks such as React and Angular. Let's create an engaging online presence for your business or personal projects.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="img/database_management.png" class="card-img-top" alt="database_management">
      <div class="card-body">
        <h5 class="card-title">Database management</h5>
        <p class="card-text">Efficiently organizing and managing data is crucial for any business. With expertise in database management systems like MySQL, Oracle, and MongoDB, I can design and optimize databases to ensure data integrity, security, and performance. Whether it's developing efficient queries, establishing data relationships, or implementing data backup strategies, I can help you streamline your data management processes.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="img/project_management.jpg" class="card-img-top" alt="project_management">
      <div class="card-body">
        <h5 class="card-title">Project management</h5>
        <p class="card-text">Managing projects effectively requires a combination of technical expertise, organizational skills, and communication. With experience in overseeing software development projects from initiation to completion, I can ensure that your projects are delivered on time, within budget, and meet your expectations. From defining project scope and milestones to coordinating team resources, I am committed to successful project outcomes.</p>
      </div>
    </div>
  </div>
</div>

<%- include ('partials/footer.ejs') %>